{% extends "layout.html" %}

{% block title %}Delete Item{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <h3 class="pull-right">Delete {{item.name}}, {{category.name}}</h3>
    </div>
    <form action="{{url_for('delete_item', category_id=category.id, item_id=item.id)}}" method="POST">
        <img src="{{item.image}}" alt="">
        <div class="form-group">
            <label>Name</label>
            <p>{{item.name}}</p>
        </div>
        <div class="form-group">
            <label>Description</label>
            <p>{{item.description}}</p>
        </div>
        <div class="form-group">
            <label>Price</label>
            <p>{{item.price}}</p>
        </div>
        <div class="form-group">
            <label>Category</label>
            <p>{{item.category_id}}</p>
        </div>
        <ul class="pull-right">
            <button onClick="window.history.back();" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">Delete</button>
        </ul>
    </form>
</div>
{% endblock %}

