{% extends "layout.html" %}

{% block title %}Delete Item{% endblock %}

{% block content %}
<div class="container">
    <h3>Delete {{item.name}}, {{category.name}}</h3>
    <br/>

    <form action="{{url_for('delete_item', category_id=category.id, item_id=item.id)}}" method="POST">
        <div>
            <img src="{{item.image}}" alt="" style="width:100%; height:100%;">
        </div>

        <br/>

        <div class="row">
            <div class="col-md-6 col-xs-6">
                <label>Name</label>

                <p>{{item.name}}</p>

                <label>Description</label>

                <p>{{item.description}}</p>
            </div>
            <div class="col-md-6 col-xs-6">
                <label>Price</label>

                <p>{{item.price}}</p>

                <label>Category</label>

                <p>{{item.category_id}}</p>
            </div>
        </div>

        <br/>

        <ul class="pull-right">
            <button onClick="window.history.back();" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">Delete</button>
        </ul>
    </form>

</div>


{% endblock %}

