{% extends "layout.html" %}

{% block title %}Edit {{item.name}}, {{category.name}}{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
    <h3>Edit {{item.name}}, {{category.name}}</h3>

    <form action="{{url_for('edit_item', category_id = category.id, item_id = item.id)}}" method="POST"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputItemName">Name</label>
            <input class="form-control" name="inputItemName" id="inputItemName" value="{{item.name}}">
        </div>
        <div class="form-group">
            <label for="inputItemDescription">Description</label>
            <textarea class="form-control" name="inputItemDescription" id="inputItemDescription"
                      value="{{item.description}}"></textarea>
        </div>
        <div class="form-group">
            <label for="inputItemPrice">Price</label>
            <input class="form-control" name="inputItemPrice" id="inputItemPrice" value="{{item.price}}">
        </div>

        <div class="form-group">
            <label for="inputItemName">Category</label>
            <select class="form-control" name="inputItemCategory" id="inputItemCategory">
                {% for element in categories %}
                {% if element.id == category.id %}
                <option value="{{element.id}}" selected>{{element.name}}</option>
                {% else %}
                <option value="{{element.id}}">{{element.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-6">
                    <label>Current image</label>

                    <div style="text-align: center;">
                        <img width="200px" src="{{item.image}}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="inputItemImage">New image</label>
                    <br/>

                    <div class="cropper" style="text-align: center;">
                        <img width="200px" id="item-image" src="" alt="Picture" hidden>
                    </div>

                    <br/>
            <span class="btn btn-default btn-file">
                Browse image
                <input id="inputItemImage" name="inputItemImage" type="file">
            </span>


                </div>
            </div>
        </div>

        <ul class="pull-right">
            <button onClick="window.history.back();" class="btn btn-danger">Cancel</button>
            <button type="submit" class="btn btn-success">Edit</button>
        </ul>
    </form>
</div>
<!-- /.container -->
{% endblock %}

