<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Item Catalog">
    <meta name="author" content="Davide Nastri">

    <title>{% block title %}{% endblock %}</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/shop-homepage.css" rel="stylesheet">
    <link href="/static/css/cropper.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//apis.google.com/js/platform.js?onload=start"></script>
    {% endblock %}
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{url_for('show_catalog')}}">Item catalog</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for category in categories %}
                        <li><a href="{{url_for('category_items', category_id=category.id)}}">{{category.name}}</a></li>
                        {% endfor %}
                        <!--
                        <li role="separator" class="divider"></li>
                        <li><a href="{{url_for('new_category')}}">New Category</a></li>
                        -->
                    </ul>
                </li>
                {% if user %}
                <li><a href="{{url_for('new_category')}}">New Category</a></li>
                {% if category %}
                <li><a href="{{url_for('new_item', category_id=category.id)}}">New Item</a></li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                <span style="color: white; padding-right: 1em;">Hi, {{user.name}}</span>
                <a href="{{url_for('disconnect')}}" id="logout-button">
                    <button class="btn btn-default navbar-btn btn-danger">Logout</button>
                </a>
                {% endif %}
                {% if not user %}
                <a href="{{url_for('show_login')}}" id="login-button">
                    <button class="btn btn-default navbar-btn btn-success">Login</button>
                </a>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% endblock %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
{% if category == 'success' %}
<div class='flash'>
    <div class="alert alert-success" role="success">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        {{ message }}
    </div>
</div>
{% endif %}
{% if category == 'warning' %}
<div class='flash'>
    <div class="alert alert-warning" role="warning">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        <span class="sr-only">Warning:</span>
        {{ message }}
    </div>
</div>
{% endif %}
{% if category == 'error' %}
<div class='flash'>
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ message }}
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}

</div>

{% block content %}
{% endblock %}


{% block footer %}
<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>&copy; <a href="https://www.linkedin.com/in/davidenastri">Davide Nastri</a> 2015</p>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/cropper.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
